<div class="email-body">
  Dear <%= @user.first_name %>,
  Welcome to Filmsy!
  The nr. 1 app when it comes to short quality content.
  <div class="btn-confirm">
    Please confirm your account:
<!--     <div class="btn btn-danger">
      <#%= link_to 'Confirm Account', confirm_account_path(@user) something like that %>
    </div> -->
    If the button doesn't work, please use this link:
  </div>
  We wish you a lot of Filmsy fun!
  Kind regards,
  The Filmsy Team
  <div class="signature">
  ~ Filmsy ~
  ~ It's the Little Things that Count ~
  </div>
</div>
