<h1>Welcome to your wishlist page</h1>
<p>This is your wishlist</p>



<ul>
<% @wishlist.each do |wishlist| %>
  <li><%= wishlist[:name]%> (<%= wishlist[:summary]%>)</li>
  <% end %>
</ul>

  <div class="btn-delete">
    <div class="btn btn-danger">
      <%= link_to 'Delete from yout wishlist', movies_path(@movie), method: :delete %>
    </div>
  </div>

<div class="btn-delete">
    <div class="btn btn-danger">
      <%= link_to 'Delete all movies from your wishlist', movies_path(@movie), method: :delete %>
    </div>
  </div>
