<h1>Welcome to your downloads page</h1>
<p>This is your downloaded movies</p>

<ul>
<% @downloads.each do |download| %>
  <li><%= download[:name]%> (<%= download[:summary]%>)</li>
  <% end %>
</ul>

  <div class="btn-delete">
    <div class="btn btn-danger">
      <%= link_to 'Delete downloaded movie', movies_path(@movie), method: :delete %>
    </div>
  </div>


  <div class="btn-delete">
    <div class="btn btn-danger">
      <%= link_to 'Delete all downloaded movies', movies_path(@movie), method: :delete %>
    </div>
  </div>


