<h1>Welcome to your downloads page</h1>
<p>This is your downloaded movies</p>

<ul>
<% @downloads.each do |download| %>
  <li><%= download.movie.name %> <%= download.movie.summary %> </li>
   <div class="btn-delete">
    <div class="btn btn-danger">
      <%= link_to 'Delete downloaded movie', movie_download_path(download.movie, download), method: :delete %>
    </div>
  </div>


  <% end %>
</ul>





